---
---

<header class="row">
  <div class="logo-bar row container">
      <a href="https://egrzalki.pl/" title="Strona główna" class="link-logo link-logo-img">
                              <img src="https://egrzalki.pl/skins/store_user/store_da3029edb4123e99e44ff0d02b2ab732_4/images/logo.png" alt="eGrzałki.pl Elektryczne Grzałki">
                      </a>

                                          <div class="basket right empty-basket">
                  <a href="https://egrzalki.pl/pl/basket" title="Koszyk" class="count">
                      <img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1">
                      <span class="countlabel">
                          <span>Koszyk:</span>
                          <b>
                                                                      (pusty)
                                                              </b>
                      </span>
                  </a>
              </div><ul class="links right inline"><li class="fav"><a class="fav" href="#"><img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1"><span>Ulubione</span></a></li><li class="tel"><a class="tel" href="tel:+48732415435"><img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1"><span>Kontakt</span></a></li>
                                                                              <li class="register">
                              <a href="https://egrzalki.pl/pl/reg" title="Zarejestruj się" class="register">
                                  <img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1">
                                  <span>Zarejestruj się</span>
                              </a>
                          </li>
                                                  <li class="login">
                          <a href="https://egrzalki.pl/pl/login" title="Zaloguj się" class="login">
                              <img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1">
                              <span>Zaloguj się</span>
                          </a>
                      </li>
                                      </ul>

              <div class="basket-contain" style="top: 24px; left: 1198px; width: 172px;">
                  <div class="basket-products">
                      <ul class="basket-product-list">
                                                      </ul>
                  </div>
                  
                  <div class="basket-summery">
                      <a href="https://egrzalki.pl/pl/basket">do kasy</a>
                      <span class="basket-price">
                          <span class="price-total">
                              <span>suma:</span>
                              <strong class="price-products">0,00&nbsp;zł</strong>
                          </span>
                                                      </span>
                  </div>
              </div>
                      
                      <form class="search-form right" action="https://egrzalki.pl/pl/s" method="post">
              <fieldset>
                  <input type="text" name="search" placeholder="szukaj w sklepie..." value="" class="search-input s-grid-3">
                  <button type="submit" class="search-btn btn btn-red">
                      <img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1">
                      <span>Szukaj</span>
                  </button>
                      <a href="https://egrzalki.pl/pl/s" title="wyszukiwarka zaawansowana" class="none adv-search">wyszukiwarka zaawansowana</a>
              </fieldset>
          </form>
              <div class="box" id="box_languages">
                  <div class="boxhead">
                      <span><img src="https://egrzalki.pl/libraries/images/1px.gif" alt="" class="px1">Wersje językowe</span>
                  </div>
                  <div class="innerbox">
                                                                              <div class="floatcenterwrap row">
                          <ul class="icons floatcenter">
                                                                  <li>
                                  <a href="https://egrzalki.pl/en_GB/index" title="angielski / Wielka Brytania" class="en_GB">
                                      <img src="https://egrzalki.pl/libraries/flags/en_GB.png" alt="angielski / Wielka Brytania">
                                  </a>
                              </li>
                                                                  <li class="selected">
                                  <a href="https://egrzalki.pl/" title="polski / Polska" class="pl_PL">
                                      <img src="https://egrzalki.pl/libraries/flags/pl_PL.png" alt="polski / Polska">
                                  </a>
                              </li>
                                                              </ul>
                      </div>
                                              </div>
              </div></div>
</header>